#profileContentDiv{
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 10px;
}
#profilDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    padding: 20px;
}

#profileImg{
    border-radius: 50%;
}
.info{
    margin: 10px;
}
#reposDiv{
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 10px;

}
#searchUserDiv{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 10px;
}
#searchMain{
    display:flex ;
    flex-direction: row;
 
}
#todaySentenceDiv{
    margin-top: 65px;
    background-color: #fff;
    border: 1px solid lightgray;
}
