#footer{
    
    margin-top: 10px;
   background-color: #fff;
   border: 1px solid lightgray;

}
#footerMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#linklednLogo{
    font-size: 50px;
    color: blue;
    margin-right: 5px;
}
#instaLogo{
    font-size: 50px;
    color: rgb(153, 70, 153);
    margin-right: 5px;
}
#faceLogo{
    font-size: 50px;
    color: rgb(68, 127, 182);
    margin-right: 5px;
}
